/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

.h7 {
  color: maroon;
  text-align: center;
  font-style: italic;
  font-family: Luminari;
  font-size : 300%;
}

.h8 {
  color: darkgreen;
  text-align: center;
  font-style: italic;
  font-family: Trattatello;
  font-size : 200%;
}

#bgstyle {
  
  background-color: linen;
  opacity: 0.8;
  }
  
  * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 100%; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.menu dt {
 font-weight: bold;
 font-family: Trebuchet MS;
 font-size:100%;
}
.menu dd {
 margin: 1%;
 padding: 0;
 font-family: Georgia;
 font-size:100%;
 }



ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: grey;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
